Repository fluxcd/source-controller, pull requests merged in 2020-12, with the labels that each got.

#227 Validate provided name for charts from HelmRepos
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
Labels: area/helm, enhancement

#228 Document how to build libgit2 from source
  .github/actions/run-tests/Dockerfile
  CONTRIBUTING.md
  Dockerfile
Labels: area/docs, enhancement

#235 Properly forward commit hash for go-git implementation
  pkg/git/v1/commit.go
Labels: bug

#237 Add newer musl version to second image layer
  Dockerfile
Labels: area/build

#240 Use ListObjects V1 fallback for GCS S3 endpoints
  controllers/bucket_controller.go
Labels: area/bucket, enhancement

#239 Add safe guards for relative (Helm chart) paths
  controllers/helmchart_controller.go
  go.mod
  internal/helm/dependency_manager.go
  internal/helm/dependency_manager_test.go
Labels: area/helm

#242 Prevent HelmChart controller panic on init failure
  controllers/helmchart_controller.go
Labels: bug

#244 Fix HelmChart valuesFile chart path restriction
  config/testdata/helmchart-valuesfile/helmchart_gitrepository.yaml
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/testdata/charts/helmchart/override.yaml
  internal/helm/chart.go
  internal/helm/chart_test.go
Labels: area/git, area/helm, bug
