Repository fluxcd/source-controller, pull requests merged in 2020-08, with the labels that each got.

#102 Implement Helm repository timeout
  api/v1alpha1/gitrepository_types.go
  api/v1alpha1/helmrepository_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  controllers/helmrepository_controller.go
  controllers/helmrepository_controller_test.go
  docs/api/source.md
  docs/spec/v1alpha1/helmrepositories.md
  go.mod
  go.sum
Labels: area/helm, enhancement

#105 Make use of dedicated fluxcd/pkg modules
  go.mod
  go.sum
Labels: area/build

#107 Make api package dedicated module
  Dockerfile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build, enhancement

#109 Fix Git semver checkout
  pkg/git/checkout.go
  pkg/git/checkout_test.go
Labels: area/git, bug

#108 Use testserver packages from fluxcd/pkg
  controllers/gitrepository_controller_test.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller_test.go
  go.mod
  go.sum
  pkg/testserver/artifact.go
  pkg/testserver/git.go
  pkg/testserver/helm.go
  pkg/testserver/http.go
Labels: area/build

#111 Upgrade fluxcd/pkg/gittestserver to v0.0.2
  go.mod
  go.sum
Labels: area/build

#112 Make various targets work after api pkg change
  Makefile
  api/go.sum
Labels: bug

#113 Remove deprecated bases from default kustomization
  config/default/kustomization.yaml
Labels: area/build, bug

#116 Drop single branch strategy for SemVer checkout
  pkg/git/checkout.go
Labels: area/git, bug

#119 Support proper semver ranges for Helm charts
  config/samples/source_v1alpha1_helmchart.yaml
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  go.mod
  go.sum
  internal/helm/repository.go
  pkg/git/checkout.go
Labels: area/helm

#118 Support Helm repository indexes with relative URLs
  controllers/helmchart_controller.go
Labels: area/helm, bug

#121 Add sections to Git examples
  docs/spec/v1alpha1/gitrepositories.md
Labels: area/docs

#117 Support Helm charts from GitRepository sources
  api/v1alpha1/helmchart_types.go
  api/v1alpha1/source.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/samples/source_v1alpha1_helmchart_gitrepository.yaml
  config/samples/source_v1alpha1_helmchart_helmrepository.yaml
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/storage.go
  controllers/suite_test.go
  docs/api/source.md
  docs/spec/v1alpha1/helmcharts.md
  go.mod
  go.sum
Labels: area/helm, enhancement
