Repository fluxcd/source-controller, pull requests merged in 2020-10, with the labels that each got.

#162 Drop `gitops-system` namespace reference from spec
  docs/spec/v1beta1/buckets.md
Labels: area/docs

#163 Set default branch to main
  .github/workflows/e2e.yaml
  .github/workflows/fossa.yaml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs/internal/release.md
Labels: area/build

#165 e2e: use podinfo chart for valuesfile tests
  .github/workflows/e2e.yaml
  .github/workflows/release.yml
  config/testdata/helmchart-valuesfile/gitrepository.yaml
  config/testdata/helmchart-valuesfile/helmchart_gitrepository.yaml
  config/testdata/helmchart-valuesfile/helmchart_helmrepository.yaml
  config/testdata/helmchart-valuesfile/helmrepository.yaml
Labels: area/build

#166 Implement Prometheus instrumentation
  controllers/bucket_controller.go
  controllers/gitrepository_controller.go
  controllers/helmchart_controller.go
  controllers/helmrepository_controller.go
  go.mod
  go.sum
  main.go
Labels: enhancement

#167 Add namespace to API docs examples
  docs/spec/v1beta1/buckets.md
  docs/spec/v1beta1/gitrepositories.md
  docs/spec/v1beta1/helmcharts.md
  docs/spec/v1beta1/helmrepositories.md
Labels: area/docs

#170 Add Git URL to clone error message
  pkg/git/checkout.go
Labels: area/git

#178 Add support for loading packaged charts
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  internal/helm/chart.go
  internal/helm/chart_test.go
Labels: area/helm, enhancement

#172 Pick the most recent chart/tag for ambiguous semver matches
  internal/helm/repository.go
  internal/helm/repository_test.go
  pkg/git/checkout.go
Labels: area/git, area/helm, enhancement

#181 Various API doc corrections
  api/v1beta1/artifact_types.go
  api/v1beta1/bucket_types.go
  api/v1beta1/gitrepository_types.go
  api/v1beta1/helmrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  docs/api/source.md
  docs/spec/v1beta1/buckets.md
  docs/spec/v1beta1/common.md
  docs/spec/v1beta1/gitrepositories.md
  docs/spec/v1beta1/helmcharts.md
  docs/spec/v1beta1/helmrepositories.md
Labels: area/docs

#182 Switch to Masterminds/semver and pkg/version libs
  controllers/gitrepository_controller_test.go
  go.mod
  go.sum
  internal/helm/repository.go
  pkg/git/checkout.go
Labels: area/git, area/helm, enhancement

#183 Change links to SemVer range docs
  docs/spec/v1beta1/gitrepositories.md
  docs/spec/v1beta1/helmcharts.md
Labels: area/docs

#184 Update runtime metrics
  .github/workflows/fossa.yaml
  go.mod
  go.sum
Labels: area/build

#185 Add finalizers to RBAC
  config/rbac/role.yaml
  controllers/bucket_controller.go
  controllers/gitrepository_controller.go
  controllers/helmchart_controller.go
  controllers/helmrepository_controller.go
Labels: enhancement

#175 Handle Helm chart dependencies
  .github/workflows/e2e.yaml
  api/v1beta1/helmrepository_types.go
  controllers/dependency_manager.go
  controllers/dependency_manager_test.go
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller_test.go
  controllers/testdata/charts/helmchart-0.1.0.tgz
  controllers/testdata/charts/helmchart/.helmignore
  controllers/testdata/charts/helmchart/Chart.yaml
  controllers/testdata/charts/helmchart/templates/NOTES.txt
  controllers/testdata/charts/helmchart/templates/_helpers.tpl
  controllers/testdata/charts/helmchart/templates/deployment.yaml
  controllers/testdata/charts/helmchart/templates/ingress.yaml
  controllers/testdata/charts/helmchart/templates/service.yaml
  controllers/testdata/charts/helmchart/templates/serviceaccount.yaml
  controllers/testdata/charts/helmchart/templates/tests/test-connection.yaml
  controllers/testdata/charts/helmchart/values.yaml
  controllers/testdata/charts/helmchartwithdeps/.helmignore
  controllers/testdata/charts/helmchartwithdeps/Chart.yaml
  controllers/testdata/charts/helmchartwithdeps/templates/NOTES.txt
  controllers/testdata/charts/helmchartwithdeps/templates/_helpers.tpl
  controllers/testdata/charts/helmchartwithdeps/templates/deployment.yaml
  controllers/testdata/charts/helmchartwithdeps/templates/ingress.yaml
  controllers/testdata/charts/helmchartwithdeps/templates/service.yaml
  controllers/testdata/charts/helmchartwithdeps/templates/serviceaccount.yaml
  controllers/testdata/charts/helmchartwithdeps/templates/tests/test-connection.yaml
  controllers/testdata/charts/helmchartwithdeps/values.yaml
  go.mod
  internal/helm/utils.go
Labels: area/helm, enhancement

#187 Fix aliased subcharts handling
  controllers/dependency_manager_test.go
  controllers/helmchart_controller.go
  controllers/testdata/charts/helmchartwithdeps/Chart.yaml
Labels: area/helm, bug
