Repository fluxcd/source-controller, pull requests merged in 2021-03, with the labels that each got.

#307 Update dependencies
  .github/workflows/fossa.yaml
  .github/workflows/release.yml
  .github/workflows/scan.yaml
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build

#311 Record suspend metric in controllers
  controllers/bucket_controller.go
  controllers/gitrepository_controller.go
  controllers/helmchart_controller.go
  controllers/helmrepository_controller.go
  go.mod
  go.sum
Labels: enhancement

#318 Set leader election deadline to 30s
  go.mod
  go.sum
  main.go
Labels: enhancement

#320 Add IAM role S3 bucket policy example to documentation
  docs/spec/v1beta1/buckets.md
Labels: area/bucket, area/docs

#324 Enable self-signed certs for go-git
  controllers/gitrepository_controller_test.go
  docs/spec/v1beta1/gitrepositories.md
  go.mod
  go.sum
  pkg/git/git.go
  pkg/git/gogit/checkout.go
  pkg/git/gogit/transport.go
  pkg/git/gogit/transport_test.go
Labels: area/git, enhancement

#325 Enable git submodules cloning when using go-git
  docs/spec/v1beta1/gitrepositories.md
  pkg/git/gogit/checkout.go
Labels: area/git, enhancement

#327 Add support for Git submodules with go-git
  api/v1beta1/gitrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  controllers/gitrepository_controller.go
  controllers/gitrepository_controller_test.go
  controllers/suite_test.go
  docs/api/source.md
  docs/spec/v1beta1/gitrepositories.md
  pkg/git/git.go
  pkg/git/gogit/checkout.go
  pkg/git/libgit2/checkout.go
  pkg/git/strategy/strategy.go
Labels: area/git, enhancement
