Repository fluxcd/source-controller, pull requests merged in 2021-05, with the labels that each got.

#356 Split bucket item key by `/` to satisfy matcher
  controllers/bucket_controller.go
Labels: area/bucket, bug

#348 Add include property to GitRepositories
  Makefile
  api/v1beta1/gitrepository_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  controllers/artifact.go
  controllers/artifact_test.go
  controllers/gitrepository_controller.go
  controllers/gitrepository_controller_test.go
  controllers/storage.go
  docs/api/source.md
  docs/spec/v1beta1/gitrepositories.md
  go.sum
  main.go
Labels: area/git, enhancement

#365 Update Git packages
  go.mod
  go.sum
  pkg/git/gogit/transport.go
Labels: area/build, area/git

#367 Fix GitRepository include for nested paths
  controllers/gitrepository_controller_test.go
  controllers/storage.go
  docs/spec/v1beta1/gitrepositories.md
Labels: area/docs, area/git, bug
