Repository fluxcd/source-controller, pull requests merged in 2022-05, with the labels that each got.

#703 summarize: Consider obj status condition in result
  internal/reconcile/reconcile.go
  internal/reconcile/reconcile_test.go
  internal/reconcile/summarize/summary.go
  internal/reconcile/summarize/summary_test.go
Labels: enhancement

#705 Update dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build

#711 Add new flag `--ssh-hostkey-algos`
  main.go
Labels: area/git

#715 Remove minio region
  pkg/minio/minio_test.go
Labels: area/build

#665 Optimise clone operations
  controllers/gitrepository_controller.go
  controllers/gitrepository_controller_test.go
  docs/spec/v1beta2/gitrepositories.md
  go.mod
  go.sum
  internal/features/features.go
  main.go
  pkg/git/git.go
  pkg/git/gogit/checkout.go
  pkg/git/gogit/checkout_test.go
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/checkout_test.go
  pkg/git/options.go
Labels: enhancement, area/git

#713 libgit2: Disable connection caching
  go.mod
  pkg/git/libgit2/managed/ssh.go
  pkg/git/libgit2/managed/ssh_test.go
Labels: area/git

#720 libgit2: Add support for hashed known_hosts
  controllers/gitrepository_controller_test.go
  go.mod
  go.sum
  pkg/git/gogit/checkout_test.go
  pkg/git/libgit2/checkout_test.go
  pkg/git/libgit2/managed_test.go
  pkg/git/libgit2/transport.go
  pkg/git/libgit2/transport_test.go
  pkg/git/strategy/strategy_test.go
Labels: enhancement, area/git

#690 [RFC 0002] Flux OCI support for Helm
  api/v1beta2/helmrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  config/testdata/helmchart-from-oci/source.yaml
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller.go
  controllers/helmrepository_controller_oci.go
  controllers/helmrepository_controller_oci_test.go
  controllers/helmrepository_controller_test.go
  controllers/suite_test.go
  docs/api/source.md
  docs/spec/v1beta2/helmrepositories.md
  go.mod
  go.sum
  hack/ci/e2e.sh
  internal/helm/chart/builder_remote.go
  internal/helm/chart/builder_remote_test.go
  internal/helm/repository/oci_chart_repository.go
  internal/helm/repository/oci_chart_repository_test.go
  internal/helm/repository/utils.go
  internal/helm/util/client.go
  internal/predicates/helmrepository_type_predicate.go
  internal/predicates/helmrepository_type_predicate_test.go
  main.go
Labels: enhancement, area/helm

#724 GitRepositoryReconciler no-op clone improvements
  api/v1beta2/gitrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  controllers/gitrepository_controller.go
  controllers/gitrepository_controller_test.go
  controllers/suite_test.go
  docs/api/source.md
  docs/spec/v1beta2/gitrepositories.md
  internal/error/error.go
  internal/reconcile/reconcile.go
  internal/reconcile/reconcile_test.go
  internal/reconcile/summarize/processor.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/git/gogit/checkout.go
  pkg/git/gogit/checkout_test.go
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/checkout_test.go
  pkg/git/options.go
Labels: enhancement, area/git

#718 libgit2: enable managed transport by default
  docs/spec/v1beta2/gitrepositories.md
  internal/features/features.go
  main.go
  pkg/git/libgit2/managed/flag.go
  pkg/git/libgit2/managed/init.go
  pkg/git/libgit2/managed/managed_test.go
Labels: area/git

#717 Update dependencies
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build

#726 log when the OCI temp credentials file can't be deleted
  controllers/helmchart_controller.go
  controllers/helmrepository_controller_oci.go
Labels: area/helm, area/oci

#730 helmrepo: Fix test flake in type update test
  controllers/helmrepository_controller_test.go
Labels: area/helm, area/testing, area/oci

#729 reconcile: Set observed gen only when conditions exist
  internal/reconcile/reconcile.go
  internal/reconcile/reconcile_test.go
Labels: bug

#732 Fix tests failing in Ubuntu
  controllers/gitrepository_controller_test.go
Labels: area/build

#734 tests: ignore proxy settings when running tests
  Makefile
Labels: area/build

#736 gitrepo: gitCheckout() return typed errors only
  controllers/gitrepository_controller.go
Labels: enhancement, area/git

#739 Update dependencies
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scan.yaml
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build

#727 Remove dependency on libgit2 credentials callback
  controllers/gitrepository_controller.go
  controllers/suite_test.go
  go.mod
  go.sum
  internal/features/features.go
  main.go
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/checkout_test.go
  pkg/git/libgit2/managed/http.go
  pkg/git/libgit2/managed/http_test.go
  pkg/git/libgit2/managed/managed_test.go
  pkg/git/libgit2/managed/options.go
  pkg/git/libgit2/managed/options_test.go
  pkg/git/libgit2/managed/ssh.go
  pkg/git/libgit2/managed/ssh_test.go
  pkg/git/libgit2/managed/transport.go
  pkg/git/libgit2/managed/transport_test.go
  pkg/git/libgit2/managed_test.go
  pkg/git/libgit2/transport.go
  pkg/git/libgit2/transport_test.go
  pkg/git/options.go
  pkg/git/strategy/proxy/strategy_proxy_test.go
Labels: area/git

#741 gitrepo: set conditions in gitCheckout
  controllers/gitrepository_controller.go
Labels: area/git

#740 libgit2: enforce context timeout
  controllers/gitrepository_controller.go
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/managed/options.go
  pkg/git/libgit2/managed/ssh.go
  pkg/git/strategy/proxy/strategy_proxy_test.go
Labels: area/git

#728 Helm reconcilers conditions and test improvements
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller_oci.go
  controllers/helmrepository_controller_oci_test.go
  controllers/helmrepository_controller_test.go
  controllers/suite_test.go
Labels: area/helm, area/oci

#743 libgit2: Pass ctx to all the transport opts
  pkg/git/libgit2/checkout.go
Labels: area/git

#744 libgit2: Enable tests
  pkg/git/libgit2/managed_test.go
Labels: area/git, area/testing

#748 OCI HelmRepo: handle status conditions in-line
  controllers/helmrepository_controller.go
  controllers/helmrepository_controller_oci.go
  controllers/helmrepository_controller_test.go
Labels: area/helm, area/oci
