Repository fluxcd/source-controller, pull requests merged in 2022-09, with the labels that each got.

#889 Publish container images to AWS Public ECR
  .github/workflows/release.yml
Labels: area/build

#893 CI: Revert Public ECR push
  .github/workflows/release.yml
Labels: area/build

#884 [OCI] Static credentials should take precedence over the OIDC provider
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller_oci.go
  controllers/helmrepository_controller_oci_test.go
  controllers/ocirepository_controller.go
  controllers/ocirepository_controller_test.go
  controllers/suite_test.go
  internal/util/auth.go
Labels: bug, area/oci

#897 Handle nil OCI authenticator with malformed registry
  controllers/helmrepository_controller_oci.go
  controllers/helmrepository_controller_oci_test.go
Labels: bug, area/helm, area/oci

#900 Fix build by enabling Cosign experimental
  hack/install-libraries.sh
Labels: area/build

#903 api: add custom validation for v1.Duration types
  api/v1beta2/bucket_types.go
  api/v1beta2/gitrepository_types.go
  api/v1beta2/helmchart_types.go
  api/v1beta2/helmrepository_types.go
  api/v1beta2/ocirepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
Labels: bug

#876 [RFC-0003] Implement OCIRepository verification using Cosign
  api/v1beta2/condition_types.go
  api/v1beta2/ocirepository_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  config/manager/deployment.yaml
  config/testdata/ocirepository/signed-with-key.yaml
  config/testdata/ocirepository/signed-with-keyless.yaml
  controllers/ocirepository_controller.go
  controllers/ocirepository_controller_test.go
  docs/api/source.md
  docs/spec/v1beta2/ocirepositories.md
  go.mod
  go.sum
  hack/ci/e2e.sh
  internal/oci/auth.go
  internal/oci/verifier.go
Labels: area/oci

#907 Consider bipolarity conditions in Ready condition summarization
  controllers/gitrepository_controller.go
  controllers/ocirepository_controller.go
  internal/reconcile/summarize/summary.go
  internal/reconcile/summarize/summary_test.go
Labels: area/git, area/oci

#904 Add custom CA certificates to system certificates
  controllers/helmrepository_controller_test.go
  internal/helm/getter/getter.go
Labels: area/helm, area/security

#913 [OCIRepository] Optimise OCI artifacts reconciliation
  api/v1beta2/ocirepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  controllers/ocirepository_controller.go
  controllers/ocirepository_controller_test.go
  docs/api/source.md
  docs/spec/v1beta2/ocirepositories.md
Labels: enhancement, area/oci

#919 Update dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build

#920 Build with Go 1.19
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/scan.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify.yaml
  Dockerfile
  Makefile
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  config/rbac/role.yaml
  internal/cache/metrics.go
  internal/helm/chart/errors.go
  internal/helm/chart/secureloader/ignore/doc.go
  internal/reconcile/reconcile.go
  pkg/azure/blob.go
Labels: area/build

#921 Bump libgit2 image and disable cosign verification for CI
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/tests.yaml
  Dockerfile
  Makefile
  hack/install-libraries.sh
  tests/fuzz/oss_fuzz_build.sh
Labels: area/build

#917 OCIRepositoryReconciler no-op improvements
  api/v1beta2/ocirepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  controllers/ocirepository_controller.go
  controllers/ocirepository_controller_test.go
  docs/api/source.md
Labels: area/oci

#916 Accept a slice of remote.Option for cosign verification
  controllers/ocirepository_controller.go
  controllers/ocirepository_controller_test.go
  internal/oci/verifier.go
  internal/oci/verifier_test.go
Labels: area/oci

#922 Update pkg/oci to v0.11.0
  go.mod
  go.sum
Labels: area/build
