Repository fluxcd/source-controller, pull requests merged in 2022-10, with the labels that each got.

#906 List objects when checking if bucket exists to allow use of container-level SAS token
  docs/spec/v1beta2/buckets.md
  pkg/azure/blob.go
  pkg/azure/blob_integration_test.go
Labels: enhancement, area/bucket

#939 gitrepo: match against api types when creating git client
  controllers/gitrepository_controller.go
Labels: area/git

#941 build: Disable macos-11
  .github/workflows/tests.yaml
Labels: area/build

#925 implement Cosign verification for HelmCharts
  api/v1beta2/helmchart_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/testdata/helmchart-from-oci/source.yaml
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller_oci.go
  controllers/helmrepository_controller_oci_test.go
  controllers/ocirepository_controller.go
  docs/api/source.md
  docs/spec/v1beta2/helmcharts.md
  docs/spec/v1beta2/ocirepositories.md
  hack/ci/e2e.sh
  internal/helm/chart/builder.go
  internal/helm/chart/builder_remote.go
  internal/helm/chart/errors.go
  internal/helm/registry/auth.go
  internal/helm/registry/auth_test.go
  internal/helm/repository/chart_repository.go
  internal/helm/repository/oci_chart_repository.go
  internal/helm/repository/repository.go
  internal/oci/verifier.go
Labels: area/helm, area/oci

#944 Refactor Git operations and introduce `go-git` support for Azure DevOps and AWS CodeCommit
  Dockerfile
  Makefile
  controllers/gitrepository_controller.go
  controllers/gitrepository_controller_test.go
  controllers/ocirepository_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  hack/ci/e2e.sh
  main.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/git/gogit/checkout.go
  pkg/git/gogit/checkout_test.go
  pkg/git/gogit/gogit.go
  pkg/git/gogit/transport.go
  pkg/git/gogit/transport_test.go
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/checkout_ssh_test.go
  pkg/git/libgit2/checkout_test.go
  pkg/git/libgit2/libgit2.go
  pkg/git/libgit2/managed/const.go
  pkg/git/libgit2/managed/http.go
  pkg/git/libgit2/managed/http_test.go
  pkg/git/libgit2/managed/init.go
  pkg/git/libgit2/managed/options.go
  pkg/git/libgit2/managed/options_test.go
  pkg/git/libgit2/managed/ssh.go
  pkg/git/libgit2/managed/ssh_test.go
  pkg/git/libgit2/managed/transport.go
  pkg/git/libgit2/managed/transport_test.go
  pkg/git/options.go
  pkg/git/options_test.go
  pkg/git/strategy/proxy/strategy_proxy_test.go
  pkg/git/strategy/strategy.go
  pkg/git/strategy/strategy_test.go
  pkg/git/strategy/testdata/certs/Makefile
  pkg/git/strategy/testdata/certs/ca-config.json
  pkg/git/strategy/testdata/certs/ca-csr.json
  pkg/git/strategy/testdata/certs/ca-key.pem
  pkg/git/strategy/testdata/certs/ca.csr
  pkg/git/strategy/testdata/certs/ca.pem
  pkg/git/strategy/testdata/certs/server-csr.json
  pkg/git/strategy/testdata/certs/server-key.pem
  pkg/git/strategy/testdata/certs/server.csr
  pkg/git/strategy/testdata/certs/server.pem
  pkg/git/strategy/testdata/repo1/foo.txt
  pkg/git/testdata/git/repo/foo.txt
  tests/fuzz/oss_fuzz_build.sh
Labels: area/git
