Repository fluxcd/source-controller, pull requests merged in 2022-08, with the labels that each got.

#853 Remove MUSL and enable threadless libgit2 support
  Dockerfile
  Makefile
  controllers/suite_test.go
  go.mod
  go.sum
  hack/download-musl.sh
  hack/install-libraries.sh
  tests/fuzz/oss_fuzz_build.sh
Labels: area/git

#786 Update Azure Go SDK
  .github/workflows/scan.yaml
  go.mod
  go.sum
  pkg/azure/blob.go
Labels: area/build, area/bucket

#788 [RFC-0003] Implement OCIRepository reconciliation
  Makefile
  PROJECT
  api/v1beta2/artifact_types.go
  api/v1beta2/ocirepository_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  config/crd/kustomization.yaml
  config/rbac/ocirepository_editor_role.yaml
  config/rbac/ocirepository_viewer_role.yaml
  config/rbac/role.yaml
  config/samples/source_v1beta2_ocirepository.yaml
  controllers/ocirepository_controller.go
  controllers/ocirepository_controller_test.go
  controllers/suite_test.go
  controllers/testdata/oci/repository/foo.txt
  controllers/testdata/podinfo/podinfo-6.1.4.tar
  controllers/testdata/podinfo/podinfo-6.1.5.tar
  controllers/testdata/podinfo/podinfo-6.1.6.tar
  docs/api/source.md
  docs/spec/v1beta2/README.md
  docs/spec/v1beta2/ocirepositories.md
  go.mod
  go.sum
  hack/ci/e2e.sh
  main.go
Labels: area/oci

#856 allow for charts from OCI registries to specify a chart path
  config/samples/source_v1beta2_helmchart_helmrepository-oci.yaml
  config/samples/source_v1beta2_helmrepository-oci.yaml
  hack/ci/e2e.sh
  internal/helm/chart/builder.go
  internal/helm/chart/builder_remote_test.go
  internal/helm/chart/builder_test.go
Labels: area/helm, area/oci

#858 build: Ignore CI workflows for markdown files
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify.yaml
Labels: area/build

#860 [OCI] Document Auto-Login usage in SC
  docs/spec/v1beta2/ocirepositories.md
Labels: area/docs, area/oci

#862 OCIRepo docs: auto-login setup details
  docs/spec/v1beta2/ocirepositories.md
Labels: area/docs, area/oci

#738 Add Support for SAS keys in Azure Blob
  docs/spec/v1beta2/buckets.md
  go.mod
  go.sum
  pkg/azure/blob.go
  pkg/azure/blob_integration_test.go
  pkg/azure/blob_test.go
Labels: area/bucket

#871 [RFC-0003] Select layer by OCI media type
  api/v1beta2/ocirepository_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  controllers/ocirepository_controller.go
  controllers/ocirepository_controller_test.go
  docs/api/source.md
  docs/spec/v1beta2/ocirepositories.md
Labels: area/oci

#873 Enable contextual login in OCI HelmRepository
  api/v1beta2/helmrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller_oci.go
  controllers/helmrepository_controller_oci_test.go
  docs/api/source.md
  docs/spec/v1beta2/helmrepositories.md
  docs/spec/v1beta2/ocirepositories.md
  internal/helm/registry/auth.go
  internal/helm/registry/auth_test.go
Labels: area/helm, area/oci

#813 [helm-oci] Add docker-registry secrets to OCI doc
  docs/spec/v1beta2/helmrepositories.md
Labels: area/docs, area/helm, area/oci

#881 [OCIRepository] Add support for non-TLS insecure container registries
  api/v1beta2/ocirepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  controllers/ocirepository_controller.go
  controllers/ocirepository_controller_test.go
  docs/api/source.md
  docs/spec/v1beta2/ocirepositories.md
Labels: area/oci
