Repository fluxcd/source-controller, pull requests merged in 2022-02, with the labels that each got.

#570 Increase default timeout to 60s
  api/v1beta1/bucket_types.go
  api/v1beta1/gitrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  docs/spec/v1beta1/buckets.md
  docs/spec/v1beta1/gitrepositories.md
Labels: area/git, area/bucket

#562 Upgrade to golang-with-libgit2:1.1.1.6 and use static libraries for in development
  .github/actions/run-tests/Dockerfile
  .github/actions/run-tests/action.yml
  .github/workflows/e2e.yaml
  .gitignore
  Dockerfile
  Makefile
  controllers/suite_test.go
  hack/download-musl.sh
  hack/install-libraries.sh
Labels: area/git, area/build

#572 Initial fuzzing tests
  .github/workflows/cifuzz.yaml
  Makefile
  controllers/suite_test.go
  tests/fuzz/Dockerfile.builder
  tests/fuzz/gitrepository_fuzzer.go
  tests/fuzz/go.mod
  tests/fuzz/oss_fuzz_build.sh
  tests/fuzz/oss_fuzz_run.sh
Labels: area/build

#574 Validate LIBGIT2 args are set correctly
  .github/workflows/e2e.yaml
  ATTRIBUTIONS.md
  Dockerfile
  Makefile
  docs/api/source.md
Labels: area/build

#577 Download libgit2 libraries for fuzzing
  .dockerignore
  Dockerfile
  Makefile
  tests/fuzz/oss_fuzz_build.sh
Labels: area/git, area/build

#579 pkg/git: Include commit message and URL in checkout error
  controllers/gitrepository_controller_test.go
  pkg/git/git.go
  pkg/git/git_test.go
  pkg/git/gogit/checkout.go
  pkg/git/libgit2/checkout.go
Labels: bug, area/git

#580 Add support for multiple fuzz sanitizers
  tests/fuzz/oss_fuzz_build.sh
Labels: area/build

#573 Upgrade libgit2 to 1.3.0 and git2go to V33
  .github/workflows/e2e.yaml
  ATTRIBUTIONS.md
  Dockerfile
  Makefile
  go.mod
  go.sum
  hack/install-libraries.sh
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/checkout_test.go
  pkg/git/libgit2/testdata/git/repo/foo.txt
  pkg/git/libgit2/transport.go
  pkg/git/libgit2/transport_test.go
  tests/fuzz/gitrepository_fuzzer.go
  tests/fuzz/oss_fuzz_build.sh
Labels: area/git, area/build

#589 git/libgit2: set CheckoutForce on branch strategy
  pkg/git/gogit/checkout_test.go
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/checkout_test.go
Labels: bug, area/git

#591 Update object API version in the sample configs
  config/samples/source_v1beta2_bucket.yaml
  config/samples/source_v1beta2_gitrepository.yaml
  config/samples/source_v1beta2_helmchart_gitrepository.yaml
  config/samples/source_v1beta2_helmchart_helmrepository.yaml
  config/samples/source_v1beta2_helmrepository.yaml
Labels: area/docs

#594 Update github.com/sosedoff/gitkit to v0.3.0 (CVE fix)
  go.mod
  go.sum
Labels: area/build
