Repository fluxcd/source-controller, pull requests merged in 2022-06, with the labels that each got.

#753 libgit2/managed: fix race conditions in ssh transport
  pkg/git/libgit2/managed/ssh.go
Labels: area/git

#755 libgit2: return CheckoutTag with LastRevision
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/checkout_test.go
Labels: bug, area/git

#752 Add docs on managed identity for Azure Blob
  docs/spec/v1beta2/buckets.md
Labels: area/docs, area/bucket

#761 Fix repository cache regression
  controllers/helmchart_controller_test.go
  controllers/suite_test.go
  internal/helm/chart/builder_remote.go
Labels: bug, area/helm

#764 Update link to v1beta2 in the API spec
  README.md
Labels: area/docs

#773 Update dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build

#777 libgit2: refactor tests to use managed and unmanaged transport cleanly
  controllers/suite_test.go
  pkg/git/libgit2/checkout_test.go
  pkg/git/libgit2/managed_checkout_test.go
  pkg/git/libgit2/managed_test.go
  pkg/git/strategy/proxy/strategy_proxy_test.go
Labels: area/git, area/testing

#781 libgit2: fix managed transport enabled flag updation
  pkg/git/libgit2/managed/init.go
Labels: area/git

#778 libgit2: add contextual logging to subtransports
  controllers/bucket_controller.go
  controllers/gitrepository_controller.go
  controllers/helmchart_controller.go
  controllers/helmrepository_controller.go
  controllers/helmrepository_controller_oci.go
  controllers/suite_test.go
  main.go
  pkg/git/libgit2/managed/http.go
  pkg/git/libgit2/managed/http_test.go
  pkg/git/libgit2/managed/init.go
  pkg/git/libgit2/managed/ssh.go
  pkg/git/libgit2/managed/ssh_test.go
  pkg/git/libgit2/managed_test.go
  pkg/git/strategy/proxy/strategy_proxy_test.go
Labels: area/git

#785 libgit2: remove deadlock
  pkg/git/libgit2/managed/ssh.go
Labels: area/git

#794 set request auth if both username and password are non empty
  pkg/git/libgit2/managed/http.go
Labels: bug, area/git

#796 libgit2/managed/http: test for incomplete creds
  pkg/git/libgit2/managed/http_test.go
Labels: area/git, area/testing

#792 Remove trailing slash in `spec.url` when getting tags for oci repository
  internal/helm/repository/oci_chart_repository.go
  internal/helm/repository/oci_chart_repository_test.go
Labels: area/helm, area/oci

#799 [helm-oci] disable cache in oci registry client
  go.mod
  go.sum
Labels: area/helm, area/oci

#804 Update go-yaml to v3.0.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build
