Repository fluxcd/source-controller, pull requests merged in 2022-07, with the labels that each got.

#801 docs: Add password-protected SSH keys information
  docs/spec/v1beta2/gitrepositories.md
Labels: area/docs

#817 build: run darwin tests on macos 10.15, 11 and 12
  .github/workflows/tests.yaml
Labels: area/build

#770 Enable Umbrella Chart with dependencies from OCI repositories
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller_oci.go
  controllers/testdata/charts/helmchartwithdeps/Chart.yaml
  internal/helm/chart/builder_local_test.go
  internal/helm/chart/builder_remote.go
  internal/helm/chart/dependency_manager.go
  internal/helm/chart/dependency_manager_test.go
  internal/helm/registry/client.go
  internal/helm/repository/chart_repository.go
  internal/helm/repository/chart_repository_test.go
  internal/helm/repository/oci_chart_repository.go
  internal/helm/repository/oci_chart_repository_test.go
  internal/helm/repository/repository.go
  internal/helm/repository/utils.go
  internal/helm/repository/utils_test.go
Labels: area/helm, area/oci

#821 OCIRepository client cert auth
  controllers/ocirepository_controller.go
  controllers/ocirepository_controller_test.go
Labels: area/oci

#823 build: provenance and tampering checks for libgit2
  Dockerfile
  Makefile
  go.mod
  go.sum
  hack/install-libraries.sh
  tests/fuzz/oss_fuzz_build.sh
Labels: area/build

#827 Fix SIGSEGV when resolving charts dependencies
  internal/helm/chart/dependency_manager.go
  internal/helm/chart/dependency_manager_test.go
  internal/helm/repository/utils.go
Labels: area/helm

#832 Fix Panic when no artifact in source
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
Labels: area/helm

#834 Update libgit2 to v1.3.2
  Dockerfile
  Makefile
  controllers/gitrepository_controller_test.go
  tests/fuzz/oss_fuzz_build.sh
Labels: area/git, area/build

#840 build: disable matrix fail-fast
  .github/workflows/tests.yaml
Labels: area/build

#819 libgit2: decommission unmanaged transport
  controllers/gitrepository_controller.go
  controllers/gitrepository_controller_test.go
  controllers/suite_test.go
  docs/spec/v1beta2/gitrepositories.md
  internal/features/features.go
  main.go
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/checkout_ssh_test.go
  pkg/git/libgit2/checkout_test.go
  pkg/git/libgit2/managed/http.go
  pkg/git/libgit2/managed/http_test.go
  pkg/git/libgit2/managed/options.go
  pkg/git/libgit2/managed/ssh_test.go
  pkg/git/libgit2/managed_checkout_test.go
  pkg/git/libgit2/transport.go
  pkg/git/libgit2/transport_test.go
  pkg/git/strategy/proxy/strategy_proxy_test.go
  pkg/git/strategy/strategy_test.go
Labels: area/git

#698 feat: cache helmrepo early after reconcil
  controllers/helmrepository_controller.go
  controllers/helmrepository_controller_test.go
  controllers/suite_test.go
  internal/helm/repository/chart_repository_test.go
  main.go
Labels: enhancement, area/helm

#842 libgit2: upgrade to golang-with-libgit2 v0.1.4
  ATTRIBUTIONS.md
  Dockerfile
  Makefile
  hack/install-libraries.sh
  hack/update-attributions.sh
  tests/fuzz/oss_fuzz_build.sh
Labels: area/git

#847 remove MacOS 10.15 from testing matrix
  .github/workflows/tests.yaml
Labels: area/build

#846 Don't fetch tags when exact version is specified in `HelmChart`
  internal/helm/chart/builder_remote_test.go
  internal/helm/chart/dependency_manager_test.go
  internal/helm/repository/oci_chart_repository.go
  internal/helm/repository/oci_chart_repository_test.go
Labels: area/helm, area/oci

#848 Merge HelmChart Reconcile tests
  controllers/helmchart_controller_test.go
Labels: area/helm

#816 Upgrade to Go 1.18
  .github/workflows/e2e.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify.yaml
  DEVELOPMENT.md
  Dockerfile
  Makefile
  api/go.mod
  go.mod
  tests/fuzz/go.mod
Labels: area/build
