Repository fluxcd/source-controller, pull requests merged in 2022-03, with the labels that each got.

#597 Implement Size field on archived artifacts
  api/v1beta2/artifact_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  controllers/artifact_matchers_test.go
  controllers/bucket_controller_test.go
  controllers/gitrepository_controller_test.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller_test.go
  controllers/storage.go
  controllers/suite_test.go
  docs/api/source.md
Labels: enhancement

#596 Introduce BucketProvider interface
  controllers/bucket_controller.go
  controllers/bucket_controller_fetch_test.go
  controllers/bucket_controller_test.go
  go.mod
  internal/mock/gcs/server.go
  internal/mock/s3/server.go
  pkg/gcp/gcp.go
  pkg/gcp/gcp_test.go
  pkg/minio/minio.go
  pkg/minio/minio_test.go
Labels: enhancement, area/bucket

#590 Reuse transport for Helm downloads
  controllers/helmchart_controller.go
  controllers/helmrepository_controller.go
  controllers/helmrepository_controller_test.go
  go.mod
  go.sum
  internal/helm/getter/getter.go
  internal/helm/getter/getter_test.go
  internal/helm/getter/transport.go
  internal/helm/getter/transport_test.go
  internal/helm/repository/chart_repository.go
  internal/helm/repository/chart_repository_test.go
Labels: bug, area/helm

#600 Update dependencies
  go.mod
  go.sum
Labels: area/build

#598 Add native Azure Blob support
  .github/workflows/e2e.yaml
  Makefile
  api/v1beta2/bucket_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  controllers/bucket_controller.go
  go.mod
  go.sum
  pkg/azure/blob.go
  pkg/azure/blob_integration_test.go
  pkg/azure/blob_test.go
Labels: enhancement, area/bucket

#599 API v1beta2 spec docs
  api/v1beta2/artifact_types.go
  api/v1beta2/bucket_types.go
  api/v1beta2/condition_types.go
  api/v1beta2/gitrepository_types.go
  api/v1beta2/helmchart_types.go
  api/v1beta2/helmrepository_types.go
  api/v1beta2/source.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  controllers/bucket_controller.go
  controllers/bucket_controller_test.go
  controllers/gitrepository_controller.go
  controllers/gitrepository_controller_test.go
  controllers/helmchart_controller.go
  controllers/helmchart_controller_test.go
  controllers/helmrepository_controller.go
  controllers/helmrepository_controller_test.go
  docs/api/source.md
  docs/spec/README.md
  docs/spec/v1beta2/README.md
  docs/spec/v1beta2/buckets.md
  docs/spec/v1beta2/gitrepositories.md
  docs/spec/v1beta2/helmcharts.md
  docs/spec/v1beta2/helmrepositories.md
Labels: area/docs

#607 build: properly wire integration tests
  .github/workflows/e2e.yaml
  Makefile
  pkg/azure/blob_integration_test.go
Labels: area/build

#609 Update Helm to patched v3.8.1
  go.mod
  go.sum
Labels: area/helm, area/build

#612 Add new condition StorageOperationFailedCondition
  api/v1beta2/condition_types.go
  controllers/bucket_controller.go
  controllers/bucket_controller_test.go
  controllers/gitrepository_controller.go
  controllers/gitrepository_controller_test.go
  controllers/helmchart_controller.go
  controllers/helmrepository_controller.go
  docs/spec/v1beta2/buckets.md
  docs/spec/v1beta2/gitrepositories.md
  docs/spec/v1beta2/helmcharts.md
  docs/spec/v1beta2/helmrepositories.md
Labels: enhancement

#606 Experimental managed transport for libgit2 operations
  controllers/gitrepository_controller.go
  hack/ci/e2e.sh
  main.go
  pkg/git/libgit2/checkout.go
  pkg/git/libgit2/managed/flag.go
  pkg/git/libgit2/managed/http.go
  pkg/git/libgit2/managed/init.go
  pkg/git/libgit2/managed/managed_test.go
  pkg/git/libgit2/managed/options.go
  pkg/git/libgit2/managed/ssh.go
  pkg/git/libgit2/transport.go
Labels: enhancement, area/git

#613 Prioritize StorageOperationFailedCondition
  controllers/bucket_controller.go
  controllers/gitrepository_controller.go
  controllers/helmchart_controller.go
  controllers/helmrepository_controller.go
Labels: enhancement

#627 Update development docs on libgit2
  DEVELOPMENT.md
Labels: area/docs

#628 Add experimental transport to spec documentation
  docs/spec/v1beta2/gitrepositories.md
Labels: area/docs

#629 fix: configure domain for .sourceignore rules
  controllers/gitrepository_controller.go
Labels: bug, area/git

#639 gitrepo: Do not stall when no included artifact
  controllers/gitrepository_controller.go
Labels: bug

#637 Various fixes for managed transport
  go.mod
  go.sum
  internal/helm/repository/chart_repository.go
  internal/transport/transport.go
  internal/transport/transport_test.go
  main.go
  pkg/git/libgit2/managed/http.go
  pkg/git/libgit2/managed/init.go
  pkg/git/libgit2/managed/managed_test.go
  pkg/git/libgit2/managed/ssh.go
  pkg/git/libgit2/managed/ssh_test.go
Labels: area/git

#648 Removes empty credentials from Basic Auth
  DEVELOPMENT.md
  Makefile
  pkg/git/gogit/transport.go
  pkg/git/gogit/transport_test.go
Labels: bug, area/git
