Repository fluxcd/source-controller, pull requests merged in 2023-11, with the labels that each got.

#1276 storage: change default file permissions
  go.mod
  go.sum
  internal/controller/gitrepository_controller_test.go
  internal/controller/ocirepository_controller_test.go
  internal/controller/storage.go
  internal/helm/repository/chart_repository_test.go
Labels: enhancement, area/storage

#1271 Upgrade `go-git` to v5.10.0
  go.mod
  go.sum
Labels: area/git, dependencies

#1286 Update dependencies to Kubernetes v1.28
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/scan.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify.yaml
  DEVELOPMENT.md
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  internal/controller/bucket_controller_test.go
  internal/controller/gitrepository_controller_test.go
  internal/controller/helmchart_controller_test.go
  internal/controller/helmrepository_controller_oci_test.go
  internal/controller/helmrepository_controller_test.go
  internal/controller/ocirepository_controller_test.go
  main.go
  tests/fuzz/Dockerfile.builder
Labels: dependencies

#1289 helmrepo: only configure tls login option when required
  internal/controller/helmchart_controller_test.go
  internal/helm/getter/client_opts.go
Labels: area/helm

#1243 Static HelmRepository OCI
  api/v1beta2/helmrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1beta2/helmrepositories.md
  hack/ci/e2e.sh
  internal/controller/helmchart_controller.go
  internal/controller/helmchart_controller_test.go
  internal/controller/helmrepository_controller.go
  internal/controller/helmrepository_controller_oci.go
  internal/controller/helmrepository_controller_oci_test.go
  internal/controller/helmrepository_controller_test.go
  internal/controller/suite_test.go
  internal/helm/getter/client_opts.go
  internal/predicates/helmrepository_type_predicate.go
  internal/predicates/helmrepository_type_predicate_test.go
  main.go
Labels: area/helm, area/oci, area/api
