Repository fluxcd/source-controller, pull requests merged in 2023-05, with the labels that each got.

#1086 Update dependencies
  go.mod
  go.sum
Labels: dependencies

#1089 Update Alpine to 3.18
  Dockerfile
Labels: area/build

#1088 Verify digest of artifact in storage
  internal/controller/bucket_controller.go
  internal/controller/bucket_controller_test.go
  internal/controller/gitrepository_controller.go
  internal/controller/gitrepository_controller_test.go
  internal/controller/helmchart_controller.go
  internal/controller/helmchart_controller_test.go
  internal/controller/helmrepository_controller.go
  internal/controller/helmrepository_controller_test.go
  internal/controller/ocirepository_controller.go
  internal/controller/ocirepository_controller_test.go
  internal/controller/storage.go
  internal/controller/storage_test.go
Labels: enhancement, area/storage

#1094 storage: set `0o744` for files with exec mode set
  internal/controller/storage.go
  internal/controller/storage_test.go
Labels: enhancement, area/storage

#1091 docs: Add note about bearer token auth with popular Git servers
  docs/spec/v1/gitrepositories.md
  docs/spec/v1beta2/gitrepositories.md
Labels: area/docs, area/git

#1096 Update cosign to v2
  go.mod
  go.sum
  internal/controller/helmchart_controller_test.go
  internal/controller/ocirepository_controller.go
  internal/controller/ocirepository_controller_test.go
  internal/controller/suite_test.go
  internal/oci/verifier.go
  pkg/azure/blob.go
Labels: area/helm, area/oci, dependencies

#1104 Update controller-runtime and Kubernetes dependencies
  Makefile
  api/go.mod
  api/go.sum
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/bucket_controller.go
  internal/controller/bucket_controller_test.go
  internal/controller/gitrepository_controller.go
  internal/controller/gitrepository_controller_test.go
  internal/controller/helmchart_controller.go
  internal/controller/helmchart_controller_test.go
  internal/controller/helmrepository_controller.go
  internal/controller/helmrepository_controller_oci.go
  internal/controller/helmrepository_controller_oci_test.go
  internal/controller/helmrepository_controller_test.go
  internal/controller/ocirepository_controller.go
  internal/controller/ocirepository_controller_test.go
  internal/controller/suite_test.go
  internal/reconcile/summarize/summary_test.go
  main.go
Labels: dependencies

#1105 Update dependencies; switch to `go-git/go-git` and `pkg/tar`
  go.mod
  go.sum
  internal/controller/gitrepository_controller_fuzz_test.go
  internal/controller/gitrepository_controller_test.go
  internal/controller/helmchart_controller.go
  internal/controller/ocirepository_controller.go
  internal/controller/ocirepository_controller_test.go
  internal/controller/storage.go
  internal/controller/storage_test.go
Labels: area/git, dependencies

#1111 Bump `fluxcd/pkg/git/gogit` to v0.12.0
  go.mod
  go.sum
Labels: area/git
