Repository fluxcd/source-controller, pull requests merged in 2023-02, with the labels that each got.

#1021 Prevent panic when cloning empty git repository
  controllers/gitrepository_controller.go
  controllers/gitrepository_controller_test.go
Labels: bug, area/git

#1015 Fix: Normalize helm repository url with query params properly
  controllers/helmchart_controller.go
  internal/helm/chart/dependency_manager.go
  internal/helm/repository/chart_repository.go
  internal/helm/repository/utils.go
  internal/helm/repository/utils_test.go
Labels: bug, area/helm

#1028 Update dependencies
  go.mod
  go.sum
Labels: area/build

#1026 add support for checking out to Git refs
  api/v1beta2/gitrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  controllers/gitrepository_controller.go
  docs/api/source.md
  docs/spec/v1beta2/gitrepositories.md
Labels: enhancement, area/git

#1031 api: omit empty Digest in Artifact
  api/v1beta2/artifact_types.go
Labels: area/git

#1033 build: convert ::set-output to $GITHUB_OUTPUT
  .github/workflows/cifuzz.yaml
Labels: area/build

#1035 helm: only use Digest to calculcate index revision
  controllers/helmrepository_controller.go
  controllers/helmrepository_controller_test.go
  internal/helm/repository/chart_repository.go
  internal/helm/repository/chart_repository_test.go
Labels: bug, area/helm

#1037 Update dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: area/build
