Repository fluxcd/source-controller, pull requests merged in 2023-10, with the labels that each got.

#1246 oci: Skip symlinks found in upstream artifacts
  go.mod
  go.sum
  internal/controller/ocirepository_controller.go
Labels: area/storage, area/oci

#1228 bucket: Add prefix filtering capability
  api/v1beta2/bucket_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1beta2/buckets.md
  internal/controller/bucket_controller.go
  internal/controller/bucket_controller_fetch_test.go
  pkg/azure/blob.go
  pkg/gcp/gcp.go
  pkg/gcp/gcp_test.go
  pkg/minio/minio.go
  pkg/minio/minio_test.go
Labels: enhancement, area/bucket, area/api

#1267 [release/v1.1.x] build(deps): bump the ci group with 2 updates
  .github/workflows/backport.yaml
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scan.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify.yaml
Labels: area/ci, dependencies
