Repository fluxcd/source-controller, pull requests merged in 2023-08, with the labels that each got.

#1185 cache: ensure new expiration is persisted
  internal/cache/cache.go
Labels: bug, backport:release/v1.0.x

#1191 Update dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: dependencies

#1097 Helm OCI: Add support for TLS registries with self-signed certs
  docs/spec/v1beta2/helmrepositories.md
  internal/controller/helmchart_controller.go
  internal/controller/helmchart_controller_test.go
  internal/controller/helmrepository_controller.go
  internal/controller/helmrepository_controller_oci.go
  internal/controller/helmrepository_controller_oci_test.go
  internal/controller/helmrepository_controller_test.go
  internal/controller/suite_test.go
  internal/helm/getter/client_opts.go
  internal/helm/getter/client_opts_test.go
  internal/helm/registry/auth.go
  internal/helm/registry/client.go
  internal/helm/repository/oci_chart_repository.go
  main.go
Labels: enhancement, area/helm, area/oci

#1178 Store Helm indexes in JSON format
  internal/controller/helmrepository_controller.go
  internal/controller/helmrepository_controller_test.go
  internal/helm/repository/chart_repository.go
  internal/helm/repository/chart_repository_test.go
  internal/helm/testdata/chartmuseum-index.json
Labels: enhancement, area/helm

#1184 controller: jitter requeue interval
  api/v1/gitrepository_types.go
  api/v1beta2/bucket_types.go
  api/v1beta2/helmchart_types.go
  api/v1beta2/helmrepository_types.go
  api/v1beta2/ocirepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  docs/api/v1/source.md
  docs/api/v1beta2/source.md
  docs/spec/v1/gitrepositories.md
  docs/spec/v1beta2/buckets.md
  docs/spec/v1beta2/helmcharts.md
  docs/spec/v1beta2/helmrepositories.md
  docs/spec/v1beta2/ocirepositories.md
  internal/controller/bucket_controller.go
  internal/controller/bucket_controller_test.go
  internal/controller/gitrepository_controller.go
  internal/controller/gitrepository_controller_test.go
  internal/controller/helmchart_controller.go
  internal/controller/helmchart_controller_test.go
  internal/controller/helmrepository_controller.go
  internal/controller/helmrepository_controller_oci.go
  internal/controller/ocirepository_controller.go
  main.go
Labels: enhancement

#1193 ci: enable security-and-quality CodeQL query
  .github/workflows/scan.yaml
Labels: area/ci

#1192 Disable system-wide git config in tests
  Makefile
Labels: area/ci

#1196 Update dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: dependencies

#1198 [release/v1.0.x] build(deps): bump the ci group with 3 updates
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yml
  .github/workflows/scan.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify.yaml
Labels: area/ci, dependencies

#1167 Update docs on Azure identity
  docs/spec/v1beta2/buckets.md
  docs/spec/v1beta2/helmrepositories.md
  docs/spec/v1beta2/ocirepositories.md
Labels: area/docs

#1187 gitrepo: add support for Git tag verification
  api/v1/gitrepository_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  docs/api/v1/source.md
  docs/spec/v1/gitrepositories.md
  go.mod
  go.sum
  internal/controller/gitrepository_controller.go
  internal/controller/gitrepository_controller_test.go
Labels: enhancement, area/git, area/security

#1202 Update dependencies
  go.mod
  go.sum
Labels: dependencies

#1200 Fix links in API docs
  docs/spec/v1beta2/helmrepositories.md
  docs/spec/v1beta2/ocirepositories.md
Labels: area/docs

#1194 Adopt Kubernetes style TLS Secrets
  api/v1beta2/helmrepository_types.go
  api/v1beta2/ocirepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1/gitrepositories.md
  docs/spec/v1beta2/helmrepositories.md
  docs/spec/v1beta2/ocirepositories.md
  internal/controller/gitrepository_controller_test.go
  internal/controller/helmchart_controller_test.go
  internal/controller/helmrepository_controller_oci_test.go
  internal/controller/helmrepository_controller_test.go
  internal/controller/ocirepository_controller.go
  internal/controller/ocirepository_controller_test.go
  internal/helm/getter/client_opts.go
  internal/helm/getter/client_opts_test.go
  internal/tls/config.go
  internal/tls/config_test.go
Labels: enhancement, area/security, area/api

#1203 Preserve url encoded path in normalized helm repository URL
  internal/helm/repository/utils.go
  internal/helm/repository/utils_test.go
Labels: bug, area/helm, backport:release/v1.0.x

#1204 Fix link ref in API docs
  docs/spec/v1beta2/helmrepositories.md
Labels: area/docs, backport:release/v1.0.x

#1215 docs: Add missing pem-encoding reference
  docs/spec/v1beta2/helmrepositories.md
Labels: area/docs
