Repository fluxcd/source-controller, pull requests merged in 2024-08, with the labels that each got.

#1552 Add support for AWS STS endpoint in the Bucket API
  api/v1/condition_types.go
  api/v1beta2/bucket_types.go
  api/v1beta2/sts_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1beta2/buckets.md
  internal/controller/bucket_controller.go
  internal/controller/bucket_controller_test.go
  pkg/minio/minio.go
  pkg/minio/minio_test.go
  tests/listener/listener.go
  tests/proxy/proxy.go
Labels: area/bucket, area/api

#1565 Add proxy support for GCS buckets
  api/v1beta2/bucket_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1beta2/buckets.md
  go.mod
  internal/controller/bucket_controller.go
  internal/controller/bucket_controller_test.go
  pkg/gcp/gcp.go
  pkg/gcp/gcp_test.go
Labels: area/bucket

#1567 Add proxy support for Azure buckets
  api/v1beta2/bucket_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1beta2/buckets.md
  internal/controller/bucket_controller.go
  pkg/azure/blob.go
  pkg/azure/blob_integration_test.go
  pkg/azure/blob_test.go
Labels: area/bucket

#1568 Add proxy support for AWS S3 buckets
  api/v1beta2/bucket_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1beta2/buckets.md
Labels: area/docs, area/bucket

#1578 Update dependencies to Kubernetes v1.31.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  internal/controller/bucket_controller.go
  internal/controller/gitrepository_controller.go
  internal/controller/helmchart_controller.go
  internal/controller/helmrepository_controller.go
  internal/controller/ocirepository_controller.go
Labels: dependencies

#1582 Build with Go 1.23
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/scan.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify.yaml
  DEVELOPMENT.md
  Dockerfile
  tests/fuzz/Dockerfile.builder
Labels: dependencies

#1583 Update cosign to v2.4.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: dependencies

#1536 Add proxy support for OCIRepository API
  api/v1beta2/ocirepository_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1beta2/ocirepositories.md
  internal/controller/ocirepository_controller.go
  internal/controller/ocirepository_controller_test.go
  internal/oci/cosign/cosign_test.go
  internal/oci/notation/notation.go
  internal/oci/notation/notation_test.go
  tests/listener/listener.go
  tests/registry/registry.go
Labels: area/oci

#1585 Add LDAP provider for Bucket STS API
  api/v1beta2/bucket_types.go
  api/v1beta2/sts_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1beta2/buckets.md
  internal/controller/bucket_controller.go
  internal/controller/bucket_controller_test.go
  pkg/minio/minio.go
  pkg/minio/minio_test.go
Labels: enhancement, area/bucket, area/api

#1589 Introduce Bucket provider constants with the common part as a prefix
  api/v1beta2/bucket_types.go
  internal/controller/bucket_controller.go
  internal/controller/bucket_controller_test.go
  pkg/minio/minio.go
Labels: area/api
