Repository fluxcd/source-controller, pull requests merged in 2024-03, with the labels that each got.

#1399 updating controller-gen to v0.14.0
  Makefile
  api/v1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
Labels: backport:release/v1.2.x

#1075 feat(notation): add support for notation in HelmChart and OCIRepository configuration
  DEVELOPMENT.md
  README.md
  api/v1beta2/ocirepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  config/testdata/helmchart-from-oci/notation.yaml
  config/testdata/ocirepository/signed-with-notation.yaml
  docs/spec/v1beta2/helmcharts.md
  docs/spec/v1beta2/ocirepositories.md
  go.mod
  go.sum
  hack/ci/e2e.sh
  internal/controller/helmchart_controller.go
  internal/controller/helmchart_controller_test.go
  internal/controller/ocirepository_controller.go
  internal/controller/ocirepository_controller_test.go
  internal/helm/chart/builder.go
  internal/helm/chart/builder_remote.go
  internal/helm/common/string_resource.go
  internal/helm/getter/client_opts.go
  internal/helm/getter/client_opts_test.go
  internal/helm/registry/auth.go
  internal/helm/repository/chart_repository.go
  internal/helm/repository/oci_chart_repository.go
  internal/helm/repository/repository.go
  internal/oci/cosign/cosign.go
  internal/oci/cosign/cosign_test.go
  internal/oci/notation/notation.go
  internal/oci/notation/notation_test.go
  internal/oci/verifier.go
Labels: area/security, area/oci, area/api

#1417 Use the verify defined interface in OCIRepository
  internal/controller/ocirepository_controller.go
  internal/oci/cosign/cosign.go
Labels: area/oci

#1407 Introduce a semVer filter in OCIRepository API
  api/v1beta2/ocirepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  docs/api/v1beta2/source.md
  docs/spec/v1beta2/ocirepositories.md
  internal/controller/ocirepository_controller.go
  internal/controller/ocirepository_controller_test.go
  internal/controller/testdata/podinfo/podinfo-6.1.5-beta.1.tar
  internal/controller/testdata/podinfo/podinfo-6.1.5-rc.1.tar
  internal/controller/testdata/podinfo/podinfo-6.1.6-rc.1.tar
Labels: area/oci, area/api
