Repository fluxcd/source-controller, pull requests merged in 2024-09, with the labels that each got.

#1603 Update `notaryproject/notation-go` to 1.2.1
  go.mod
  go.sum
  internal/controller/ocirepository_controller_test.go
Labels: dependencies

#1607 OCIRepository: Configure proxy for OIDC auth
  go.mod
  go.sum
  internal/controller/ocirepository_controller.go
  internal/helm/getter/client_opts.go
  internal/oci/auth.go
Labels: area/oci

#1591 [RFC-0007] Enable Azure OIDC for Azure DevOps repositories
  api/v1/gitrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  docs/api/v1/source.md
  docs/spec/v1/gitrepositories.md
  go.mod
  go.sum
  internal/controller/gitrepository_controller.go
  internal/controller/gitrepository_controller_test.go
Labels: area/git, area/api

#1614 Update dependencies to Kubernetes 1.31.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Labels: dependencies
