Repository fluxcd/source-controller, pull requests merged in 2025-08, with the labels that each got.

#1860 Add support for mTLS to GitHub App transport
  docs/spec/v1/gitrepositories.md
  go.mod
  go.sum
  internal/controller/gitrepository_controller.go
  internal/controller/gitrepository_controller_test.go
Labels: area/git, area/security

#1868 [RFC-0010] Add multi-tenant workload identity support for AWS Bucket
  api/v1/bucket_types.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  docs/api/v1/source.md
  docs/spec/v1/buckets.md
  internal/bucket/minio/minio.go
  internal/bucket/minio/minio_test.go
  internal/controller/bucket_controller.go
Labels: area/bucket, area/api

#1871 [RFC-0010] Add multi-tenant workload identity support for Azure GitRepository
  api/v1/gitrepository_types.go
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  docs/api/v1/source.md
  docs/spec/v1/gitrepositories.md
  internal/controller/gitrepository_controller.go
  internal/controller/gitrepository_controller_test.go
Labels: area/git, area/security

#1876 Update to Go 1.25, Kubernetes v1.34.0 and Helm v3.18.6
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/scan.yaml
  .github/workflows/tests.yaml
  .github/workflows/verify.yaml
  DEVELOPMENT.md
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  api/v1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/source.toolkit.fluxcd.io_buckets.yaml
  config/crd/bases/source.toolkit.fluxcd.io_gitrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmcharts.yaml
  config/crd/bases/source.toolkit.fluxcd.io_helmrepositories.yaml
  config/crd/bases/source.toolkit.fluxcd.io_ocirepositories.yaml
  go.mod
  go.sum
  hack/boilerplate.go.txt
  internal/bucket/azure/blob_test.go
  internal/bucket/gcp/gcp_test.go
  internal/bucket/minio/minio_test.go
  internal/controller/bucket_controller_fetch_test.go
  internal/controller/helmchart_controller_test.go
  internal/helm/chart/builder_local_test.go
  internal/helm/chart/builder_remote_test.go
  tests/listener/listener.go
  tests/registry/registry.go
Labels: dependencies
